
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


header{
    text-align: center;
    color: rgb(37, 37, 37);
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/fondo_banner.JPG');
}

.navegacion{
    background-color: rgb(185, 185, 185);
}

body{
    color: rgb(37, 37, 37);
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(163, 163, 163);
}

main{
    background-color: rgb(185, 185, 185);
}

footer{
    background-color: rgb(44, 67, 117);
    color: rgb(255, 255, 255);
}

h1{
    background-color: rgb(172, 172, 172);
    text-align: center;
}

h2{
    background-color: rgba(104, 104, 104, 0.5);
    text-align: center;
}

.identado{
    text-indent: 80px;
}